<form (ngSubmit)="searchPokemon()" class="pokemon-search-form">
  <label for="pokemonSearchName">Pesquisar por nome</label>
  <input
    type="search"
    [(ngModel)]="pokemonSearchName"
    name="pokemonSearchName"
    id="pokemonSearchName"
    placeholder="Digite o nome do Pokémon"
  />
  <button type="submit">🔎</button>
</form>
<div class="pokemon-list-container">
  <div *ngIf="!pokemonIds.length" class="pokemon-card-tip">
    <p>Não foi encontrado Pokémon com o nome "{{ pokemonSearched }}"</p>
  </div>
  <div *ngIf="pokemonIds.length" class="row row-cols-6">
    <div *ngFor="let pokemonId of pokemonIds" class="pokemon-col">
      <app-pokemon-card [id]="pokemonId"></app-pokemon-card>
    </div>
  </div>
</div>
