.pokemon-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;

  .pokemon-col {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
}
