<!-- O atributo id serve para identificar que os dados do Pokémon foram corretamente carregados pelo card -->
<div
  class="pokemon-card"
  [class.favorited]="favorited && pokemon?.id"
  (click)="favoritePokemon()"
>
  <div *ngIf="loading" class="placeholder-glow">
    <div class="placeholder col-12"></div>
  </div>
  <p *ngIf="!pokemon?.id && !loading" class="pokemon-card-tip">
    Falha em coletar dados do Pokémon. <br />Tente novamente mais tarde.
  </p>
  <ng-container *ngIf="pokemon && pokemon.id && !loading">
    <button class="pokemon-favorite" (click)="favoritePokemon($event)">
      {{ favorited ? "❤️" : "🤍" }}
    </button>

    <img
      [src]="pokemon.sprites?.front_default || '/images/missingno.webp'"
      [alt]="pokemon.name"
      class="pokemon-image"
    />
    <span *ngIf="!pokemon.sprites?.front_default" class="image-not-found"
      >Imagem não encontrada</span
    >
    <p class="pokemon-id">#{{ pokemon.id }}</p>
    <p class="pokemon-name">{{ pokemon.name }}</p>
  </ng-container>
</div>
