<div
  class="pokemon-card"
  [class.favorited]="favorited"
  (click)="favoritePokemon()"
>
  <div *ngIf="!pokemon && loading" class="placeholder-glow">
    <div class="placeholder col-12"></div>
  </div>
  <p *ngIf="!pokemon && !loading" class="pokemon-card-tip">
    Falha em coletar dados do Pokémon. <br />Tente novamente mais tarde.
  </p>
  <ng-container *ngIf="pokemon">
    <button class="pokemon-favorite" (click)="favoritePokemon()">
      {{ favorited ? "❤️" : "🤍" }}
    </button>

    <img
      [src]="pokemon.sprites.front_default"
      [alt]="pokemon.name"
      class="pokemon-image"
    />
    <p class="pokemon-id">#{{ pokemon.id }}</p>
    <p class="pokemon-name">{{ pokemon.name }}</p>
  </ng-container>
</div>
